{% extends "base.html" %}
{% load static %}
{% block page_content %} 
<h1>Harvey Mudd College Recycling Program</h1>
<div class = "row">
{% for page in home %} 
    <div class = "col-md-4">
        <div class = "card mb-2">
            <img class = "card-img-top" src = "{% static page.image %}">
            <div class= = "card-body">
                <h5 class = "card-title">{{ page.title}}</h5>
                <p class = "card-text">{{ page.description}} </p>
                <a href="{% url 'page_detail' page.pk %}"
                    class = "btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
